* {            /*Seletor universal*/
  margin: 0;    
}

html, body {
  --black: hsl(240, 6%, 13%);   /*variável no CSS*/
  --gray: hsl(240, 9%, 89%);    /*h = cor, s = saturação, l = luz da cor*/

  height: 100%;
  font-family: 'Roboto', sans-serif;     /*sem serif*/
  -webkit-font-smoothing: antialiased;   /*Texto com uma leitura mais suave*/
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);    /*Função link com o background*/
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;    /*Mantém o conteúdo equilibrado!*/
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;   /*rem = relação com o pixel padrão da página. A fonte padrão é 16 px*/
  margin: 11.5rem auto 0;   /*Top, right+left, bottom*/
  position: relative;   /*Segue as configs de width/margin. Limite para o absolute*/
}

.avatar span {
  position: absolute;  /*Cria-se níveis de empilhamento/sobreposição de elementos*/
  top: -15px;
  z-index: 1;    /*Especifica a ordem de sobreposição, maior valor = encima*/
}

.avatar > img {    /*Pega a imagem no primeiro nivel do avatar*/
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;     /*Preenche o elemento avatar, com zoom na img*/

  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);    /*Clippy CSS*/
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;
  display: flex;   /*Preenche o bloco - elementos lado a lado no eixo x*/
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;   /*Retira os pontos dos itens da lista*/
  padding: 0;

  display: flex;   /*Elementos lado a lado no eixo x (main)*/
  /*flex-direction: column;*/
  gap: 0.5rem;

  justify-content: center;   /*Necessário por conta do uso do flex*/
}
