* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background-color: #121214;
  background-image: url(images/background-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  background: url(images/background-mobile.svg);
  width: 375px;
  height: 780px;

  background-color: rgba(126, 126, 126, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform-style: preserve-3d;
  transform: translateZ(0);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  
  margin: 11.5rem auto 0; 
  position: relative;  
}

.avatar span {
  position: absolute;   
  top: -15px;
  z-index: 1;
}

.avatar > img {    
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;
  /*font-size: 1rem;*/
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;  
}

p {
  margin-top: 2rem;
  /*font-size: 0.87rem;*/
}

ul {
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  gap: 0.7rem;

  list-style: none;
  padding: 0; 
}

.rocketseat-logo {
  width: 8rem;
  margin: 1.5rem auto 0;
  position: relative;
  
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

/* Media Querries */

@media (min-width: 800px) {      /* Desktop */
   main {
    width: 358px;
    height: 580px;
    background: url(images/background-card-desktop.png);
    background-color: #202024;
    background-size: 358px 580px;
  }

  .avatar {
    margin: 4.7rem auto 0;
  }

  ul {
    margin: 1.5rem auto 0;
  }
  
  .rope {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 750px;
    background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
    border-radius: 0 0 3px 3px;
    /* right: vw; */
    top: 0;
    margin-top: -45rem;
    margin-left: 8.9rem;
    /* margin-left: -40px; */
  }

  .clasp {
    position: absolute;
    background: #121214;
    z-index: 1;
    width: 100px;
    height: 12px;
    margin-left: 8.3rem;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
  }

  .rocketseat-logo {
    width: 10rem;
    margin: 3rem auto 0;
  }
}

/* Animations */

#userImage {
  transition: all ease 1s;
}

#userImage:hover {
  width: 11.5rem;
  height: 13rem;
}

#userLink {
  position: relative;
  border-radius: 0.25rem;
  top: 0;
  transition: all ease 0.7s;
}

#userLink:hover {
  margin: 3px 5px 0;
  padding: 10px;
  box-shadow: 0rem 5px 15px rgba(148, 89, 187, 0.5);
}

#userLogin:hover {
  color: hsl(0, 0%, 100%);
}


.social-btn {
  position: relative;
  border-radius: 0.25rem;
  width: 50px;
  top: 0;
  transition: all ease 0.3s;
}
.social-btn:hover {
  border-radius: 50%;
  top: -8px;
}

/* Social media buttons */

.gmail-img:hover {
  box-shadow: 0rem 5px 15px rgba(148, 89, 187, 0.5);
}

.linkedin-img:hover {
  box-shadow: 0rem 5px 15px rgba(148, 89, 187, 0.5);
}

.instagram-img:hover {
  box-shadow: 0rem 5px 15px rgba(148, 89, 187, 0.5);
}

.facebook-img:hover {
  box-shadow: 0rem 5px 15px rgba(148, 89, 187, 0.5);
}

/* Rocketseat logo */

.rocketseat-logo {
  position: relative;
  border-radius: 0.25rem;
  top: 0;
  transition: all ease 0.3s;
}

.rocketseat-logo:hover {
  top: -8px;
  box-shadow: 0rem 5px 15px rgba(148, 89, 187, 0.5);
}