* {            /*Seletor universal*/
  margin: 0;    
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);   /*h = cor, s = saturação, l = luz da cor*/

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;    /*Não repete a imagem, centraliza e cobre os espaços em branco*/
  width: 100vw;    /*view port width -> width do dispositivo*/
  min-height: 812px;
  height: 100vh;   /*view port height -> height do dispositivo*/
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;    /*Mantém o conteúdo equilibrado!*/
  text-align: center;

  color: var(--gray);
}

.nlw-logo {
  display: grid;
  width: 13rem;
  top: 2rem;
  position: absolute;
  z-index: 1;
  
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

.avatar {
  width: 10rem;   /*rem tem uma relação com o pixel padrão da página. A fonte padrão é 16 pixels.*/
  margin: 11.5rem auto 0;   /*top, right+left, bottom*/
  position: relative;   /*ele é o limite para o absolute*/
}

.avatar span {
  position: absolute;   /*Cria-se níveis de empilhamento*/
  top: -15px;
  z-index: 1;
}

.avatar > img {    /*Pega a imagem no primeiro nivel de avatar*/
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;

  list-style: none;   /*retira os pontos dos itens*/
  padding: 0; 

  display: flex;   /*Deixa os elementos lado a lado no eixo x (main)*/
  /*flex-direction: column;*/
  gap: 0.5rem;

  justify-content: center;   /*necessário por conta do uso do flex*/
}

.rocketseat-logo {
  width: 8rem;
  margin: 2rem auto 0;
  position: relative;

  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

/* Media Querries */

@media (min-width: 720px) {
	/* estilos versão tablet */
  
}

@media (min-width: 960px) {
	/* estilos versão desktop */
}

/* Animations */

@keyframes loading {      /*Efeito rotação selo Rocketseat*/
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

.spinning {
  animation: loading 10s linear infinite;
}